body {
    background: #f9f7fe;
    font-family: "Roboto", sans-serif;
}

a {
    color: #885df1;
}

.weather-app {
    background: white;
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 30px;
}

.search-input {
    background-color: #f9f7fe;
    border: none;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    padding: 15px 20px;
    width: 80%;
    border-radius: 6px;
}

.search-button {
    margin-left: 5px;
    font-size: 16px;
    background-color: #885df1;
    color: white;
    border: none;
    padding: 15px 30px;
    line-height: 1;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    color: #885df1;
    background-color: #E8F0FE;
    border: 2px solid #885df1;
    padding: 13px 28px;
}

main {
    padding: 30px 0;
}

.current-temperature {
    font-size: 48px;
}

.current-weather {
    display: flex;
    justify-content: space-between;
}

.current-city {
    font-size: 38px;
    font-weight: 900;
    margin: 0;
}

.current-details {
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.current-details strong {
    color: #f6306c;
}

.current-temperature {
    display: flex;
    line-height: 1;
}

.current-temperature-value {
    font-size: 80px;
    font-weight: bold;
    line-height: 1.5;
}

.current-temperature-unit {
    font-size: 28px;
    line-height: 3;
}

.weather-forcast {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    text-align: center;
}

.weather-forcast-day {
    width: 56px;
    text-align: center;
}

.weather-forcast-date {
    padding-bottom: 10px;
    opacity: 0.5;
}

.weather-forcast-icon {
    font-size: 36px;
}

.weather-forcast-temperatures {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    color: #f6306c;
}

.weather-forcast-temperature-min {
    opacity: 0.6;
}

footer {
    border-top: 1px solid #f9f7fe;
    text-align: center;
    padding-top: 15px;
    color: rgba(39, 33, 66, 0.4);
}